body {
	margin: 0;
	font-family: 'Cardo', serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: #F8F9F9;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Oswald', sans-serif;
}

/* header styles */

header h1{
	color: black;
	font-size: 50px;
}

header img{
	border-radius: 300px;
	width: 450px;
	border: px solid black;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: black;
	margin: 40px 0 10px;
}

a{
	color: darkred;
}
a:hover{
	color: red;
}

footer{
	background-color: #F8F9F9;
	text-align: center;
	padding: 50px;
}

footer p{
	margin: 0;
}

p.caption{
	color: grey;
	font-style: italic;
	margin: 0;
}


